<!DOCTYPE html>
<html>
<%= render 'rails_mini_profiler/shared/head' %>
<body>

<%= render 'rails_mini_profiler/shared/navbar' %>
<main>
  <section class="main-section">
    <%= render 'rails_mini_profiler/shared/flashes' %>
    <%= yield %>
  </section>
</main>

</body>
</html>
