
.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;

  align-items: center;
}

.placeholder-image {
  height: 30%;
  width: 30%;
  -webkit-filter: grayscale(1) brightness(2.5);
}

.placeholder-text {
  padding: 1rem 0;
  text-align: center;
  color: var(--grey-400);
}

.placeholder-link {
  color: var(--grey-400);

  &:visited {
    color: var(--grey-400)
  }

  &:hover {
    color: var(--grey-900)
  }
}
