.table {
  width: 100%;
  border: hidden 1px var(--border-color);

  /* Hack to get table row borders, see https://stackoverflow.com/a/2586780/2553104 */
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--border-color);
  table-layout: fixed;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
}

.table thead tr {
  border: hidden 1px var(--border-color);
  box-shadow: 0 0 0 1px var(--border-color);
  color: var(--grey-400);
}

.table tr:nth-child(even) {
  background: var(--grey-50);
}

.table thead th {
  font-weight: 400;
}

.table-filter-icon {
  width: 14px;
  margin-left: 0.5rem;
}

.table tbody tr:not(.no-row) {
  border: solid 1px var(--border-color);
  color: var(--grey-700);
  cursor: pointer;
}

.table tbody tr:not(.no-row):hover {
  background: var(--grey-100);
}

.request-checkbox {
  z-index: 1;
  width: 1rem;
  height: 1rem;
}

.dropdown-body {
  padding: 0.33rem 0.5rem;
}

.dropdown-search-field {
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--grey-400);
  border-radius: 5px;
  color: var(--grey-700);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: inherit;

  &:hover {
    color: var(--grey-900);
  }
}

.dropdown-container {
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-width: 240px;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid var(--grey-200);
  margin-top: 0.3em;
  background: white;
  border-radius: 5px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  color: var(--grey-400);
  cursor: default;
}

.dropdown-search {
  display: flex;
  flex-direction: column;
}

.dropdown-search button {
  display: flex;
  flex-direction: column;
}

.dropdown-entry {
  display: flex;
  padding: 0.33rem 1rem;
  text-decoration: none;

  &:hover {
    background: var(--grey-100);
    color: var(--grey-900);
  }
}

.dropdown-entry input {
  margin-right: 0.5em;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--grey-200);
  background: var(--grey-100);
  font-size: 0.833rem;
  text-align: left;
}

.dropdown-header button {
  padding: 0;
  border: none;
  background: none;
  color: var(--grey-500);
  font-size: 0.833rem;
  outline: none;
  text-decoration: underline;

  &:hover {
    box-shadow: none;
    color: var(--grey-900);
  }
}

.dropdown-footer {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: var(--red-500);
  border-radius: 0;
  color: white;
  font-weight: 600;
  outline: none;

  &:hover {
    background: var(--red-600);
  }
}

.dropdown-search-button {
  display: inline-block;
  padding: 0.5em 0.5em;
  border: none;
  background: var(--red-500);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: var(--red-600);
  }
}

.request-path {
  overflow: hidden;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
