<% flash.each do |type, message| %>
  <% if type == "alert" %>
    <div class="flash flash-error"><%= message %></div>
  <% end %>
  <% if type == "notice" %>
    <div class="flash flash-notice"><%= message %></div>
  <% end %>
<% end %>
