<head>
  <title>Rails Mini Profiler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "rails-mini-profiler" %>
  <%= stylesheet_link_tag "rails-mini-profiler", media: "all" %>
</head>
