<header>
  <nav class="nav">
    <a class="left" href="<%= profiled_requests_path %>">
      <h1 class="">Rails Mini Profiler </h1>
    </a>
    <ul class="right">
      <li>
        Docs
      </li>
      <li>
        GitHub
      </li>
    </ul>
  </nav>
</header>
