<header>
  <nav class="nav">
    <a class="left" href="<%= profiled_requests_path %>">
      <%#= inline_svg_tag('rails_mini_profiler/logo', width: '30px', height: '30px') %>
      <h1 class="title">Rails Mini Profiler </h1>
    </a>
    <ul class="right">
      <li>
        Docs
      </li>
      <li>
        GitHub
      </li>
    </ul>
  </nav>
</header>
