<header class="header">
  <nav class="nav">
    <a class="home" href="<%= profiled_requests_path %>">
      <%= inline_svg_tag('rails_mini_profiler/logo', class: 'home-logo') %>
      <h1 class="home-title">Rails Mini Profiler </h1>
    </a>
    <ul class="header-links">
      <li>
        <a href="https://github.com/hschne/rails-mini-profiler#rails-mini-profiler">
          Docs
        </a>
      </li>
    </ul>
  </nav>
</header>
