<header class="shadow">
  <nav
    class="container mx-auto flex flex-wrap justify-between items-center p-5">
    <div>
      <a class="flex items-center mr-2" href="<% profiled_requests_path %>" >
        <p class="font-bold text-lg">Rails Mini Profiler </p>
      </a>
    </div>
  </nav>
</header>
