<header class="header">
  <nav class="nav">
    <a class="home" href="<%= profiled_requests_path %>">
      <%= icon("logo", class: "home-logo") %>
      <p class="home-title">Rails Mini Profiler
      </p>
    </a>
    <ul class="header-links">
      <li>
        <a href="https://github.com/hschne/rails-mini-profiler#rails-mini-profiler">
          Docs
        </a>
      </li>
    </ul>
  </nav>
</header>
