.dropdown-body {
  padding: 0.33rem 0.5rem;
}

.dropdown-search-field {
  padding: 0.5rem;
  border: 1px solid var(--grey-400);
  border-radius: 5px;
  color: var(--grey-700);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: inherit;
}

.dropdown-toggle:hover {
  color: var(--grey-900);
}

.dropdown-container {
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-width: 240px;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid var(--grey-200);
  border-radius: 5px;
  margin-top: 0.3em;
  background: white;
  box-shadow: 0 8px 30px rgb(0 0 0 / 12%);
  color: var(--grey-400);
  cursor: default;
}

.dropdown-search {
  display: flex;
  flex-direction: column;
}

.dropdown-search button {
  display: flex;
  flex-direction: column;
}

.dropdown-entry {
  display: flex;
  padding: 0.33rem 1rem;
  text-decoration: none;
}

.dropdown-entry:hover {
  background: var(--grey-100);
  color: var(--grey-900);
}

.dropdown-entry input {
  margin-right: 0.5em;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--grey-200);
  background: var(--grey-100);
  font-size: 0.833rem;
  text-align: left;
}

.dropdown-header button {
  padding: 0;
  border: none;
  background: none;
  color: var(--grey-500);
  font-size: 0.833rem;
  outline: none;
  text-decoration: underline;
}

.dropdown-header button:hover {
  box-shadow: none;
  color: var(--grey-900);
}

.dropdown-footer {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  background: var(--red-500);
  color: white;
  font-weight: 600;
  outline: none;
}

.dropdown-footer:hover {
  background: var(--red-600);
}