.header {
  --shadow-color: rgb(0, 0, 0 / 20%);

  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0;
  background: var(--primary);
  box-shadow: 0 0 20px 0 var(--shadow-color);
}

.header a {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  width: var(--main-width);
  justify-content: space-between;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.home-logo {
  width: 64px;
  height: 64px;
}

.home-title {
  padding: 0 0 0 1rem;
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: var(--fw-bold);
}

.header-links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
  list-style: none;
}