.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.pagination-link {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-right: none;
  background: white;
  color: var(--grey-900);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.pagination-link.pagination-prev {
  border-radius: 5px 0 0 5px;
}

.pagination-link.pagination-next {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid var(--border-color);
}

.pagination-link.pagination-current {
  border-color: var(--red-500);
  background: var(--red-500);
  color: white;
  cursor: default;
}

.pagination-link.pagination-current:hover {
  background: var(--red-500);
}

.pagination-link.disabled {
  color: var(--grey-500);
  cursor: default;
}

.pagination-link.disabled:hover {
  background: white;
}

.pagination-link:hover {
  background: var(--grey-100);
}

.pagination-link.disabled:hover,
.pagination-link.pagination-current:hover {
  background: var(--red-500);
}

.pagination-link.pagination-ellipsis {
  cursor: default;
  color: var(--grey-500);
}

.pagination-link.pagination-ellipsis:hover {
  background: white;
}