.placeholder {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.placeholder-image {
  width: 30%;
  height: 30%;
  filter: grayscale(1) brightness(2.5);
}

.placeholder-text {
  padding: 1rem 0;
  color: var(--grey-400);
  text-align: center;
}

.placeholder-text h2 {
  padding-bottom: 1rem;
}

.placeholder-link {
  color: var(--grey-400);
}

.placeholder-link:visited {
  color: var(--grey-400);
}

.placeholder-link:hover {
  color: var(--grey-900);
}