.table {
  width: 100%;
  border: hidden 1px var(--border-color);
  border-radius: 5px;

  /* Hack to get table row borders, see https://stackoverflow.com/a/2586780/2553104 */
  border-collapse: collapse;
  box-shadow: 0 0 0 1px var(--border-color);
  table-layout: fixed;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
}

.table thead tr {
  color: var(--grey-500);
}

.table tr:nth-child(even) {
  background: var(--grey-50);
}

.table thead th {
  font-weight: 400;
}

.table-filter-icon {
  width: 14px;
  margin-left: 0.5rem;
}

.table tbody tr:not(.no-row) {
  border: solid 1px var(--border-color);
  color: var(--grey-700);
  cursor: pointer;
}

.table tbody tr:not(.no-row):hover {
  background: var(--grey-100);
}

.request-checkbox {
  z-index: 1;
  width: 1rem;
  height: 1rem;
}

.request-path {
  overflow: hidden;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
}