<style>
  #rails-mini-profiler-badge {
    position: absolute;
    <%= @position %>
    display: flex;
    margin: 0;
    padding: .2em .2em;
    line-height: normal;
    align-items: center;
    z-index: 2147483641;
    overflow: auto;
    border-radius: 5px;
    text-decoration: none;
    opacity: 60%;
    background-color: #fff;
    color: #555;
    -moz-box-shadow: 0 1px 15px #555;
    -webkit-box-shadow: 0 1px 15px #555;
    box-shadow: 0 1px 15px #555;
    font-size: 14px;
  }

  #rails-mini-profiler-badge:hover {
    opacity: 100%;
      transition: opacity 0.3s;
  }

  #rails-mini-profiler-badge-icon {
    height: 18px;
    width: 18px;
    padding-bottom: 2px;
  }
</style>
<a id="rails-mini-profiler-badge" href="<%= profiled_request_path(@profiled_request.id) %>" data-turbolinks="false" title="View performance data">
  <%= inline_svg('logo_variant.svg', id: "rails-mini-profiler-badge-icon") %>
  <%= (@profiled_request.duration.to_f / 100).round %>ms
</a>
