<style>
  #rails-mini-profiler-badge {
    z-index: 2147483641;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    text-align: left;
    line-height: 18px;
    overflow: auto;

    -moz-box-shadow: 0 1px 15px #555;
    -webkit-box-shadow: 0 1px 15px #555;
    box-shadow: 0 1px 15px #555;
  }
</style>
<div id="rails-mini-profiler-badge">
  Icon
</div>
