/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



main {
  width: 100%;

  display: flex;
  justify-content: center;
}

.main-section {
  width: var(--main-width);
}

.table {
  width: 100%;
  /* Hack to get table row borders, see https://stackoverflow.com/a/2586780/2553104 */
  border-collapse: collapse;
  border-radius: 5px;
  border: hidden 1px var(--border-color);
  box-shadow: 0 0 0 1px var(--border-color);
}

/*TODO: Rename to request path table style*/
.table thead tr {
  color: var(--grey-400);
}

.table thead th {
  font-weight: 400;
}

.table tr {
  border: solid 1px var(--border-color);
  color: var(--grey-700);
}

.table tbody tr:hover {
  background: var(--grey-50);
}

.table th,
.table td {
  padding: 0.5rem 1rem;
}

.request-path {
  max-width: 300px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request-buttons {
  text-align: right;
}

.request-buttons a {
  text-decoration: none;
  padding: 0 .25rem;
}

.request-details {
}

.request-details-data {
  display: flex;

  margin: 0;
  padding: 0;
}

.data-item {
  list-style: none;

  margin-right: 3rem;
  padding: 0;
}

.data-item small {
  color: var(--grey-400);
}

.data-item span {
  display: block;
}
