@import url("flashes.css");
@import url("flamegraph.css");
@import url("profiled_requests.css");
@import url("traces.css");
@import url("components/buttons.css");
@import url("components/input.css");
@import url("components/navbar.css");
@import url("components/pagination.css");
@import url("components/page_header.css");
@import url("components/dropdown.css");
@import url("components/placeholder.css");
@import url("components/trace.css");
@import url("components/tooltip.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", monospace;

  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-700: #374151;
  --grey-900: #111827;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --yellow-400: #fbbf24;
  --yellow-500: #fbbf24;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --main-width: 1056px;
  --primary: var(--red-600);
  --border-color: var(--grey-200);
  --text-color: var(--grey-900);
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --font-base-size: 1rem;
  --font-scale-ratio: 1.3;
  --color-text: var(--color-grey-900);
  --color-text-secondary: var(--color-grey-600);
  --color-background: var(--color-grey-50);
  --color-background-code: var(--color-info-950);
  --color-background-inline-code: var(--color-grey-100);
  --color-background-thead: var(--color-grey-100);
  --color-link-active: var(--color-grey-700);
  --color-link-hover: var(--color-grey-600);
  --font-size-sm: calc(var(--font-base-size) / var(--font-scale-ratio));
  --font-size-md: var(--font-base-size);
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale-ratio));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));
  --font-size-4xl: calc(var(--font-size-2xl) * var(--font-scale-ratio));
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --shadow-color: rgb(0 0 0 / 20%);
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xl: calc(2 * var(--space-unit));
  --space-2xl: calc(3.25 * var(--space-unit));
  --space-3xl: calc(5.25 * var(--space-unit));
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-section {
  width: var(--main-width);
}

/* --------------------------------------- */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* --------------------------------------- */

.pill {
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  margin: 0.2rem 0;
  background: var(--grey-200);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/* --------------------------------------- */

.popover {
  position: absolute;
  z-index: 1000;
  display: none;
  width: 600px;
  flex-direction: column;
  padding: 1em;
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  background: white;
  box-shadow: 0 4px 12px 0 var(--shadow-color);
}

.popover.visible {
  display: flex;
}

.popover-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

.popover-description {
  padding: 0;
  margin: 0;
}

.popover-close {
  padding: 0;
  background: transparent;
  color: var(--grey-400);
  font-size: 20px;
  font-weight: 700;
}

.popover-body {
  padding: 1em 0;
}

.popover-footer {
  border-top: 1px solid var(--grey-50);
}

