.profiled-request-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.request-details-data {
  display: flex;
}

.data-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-right: 3rem;
  list-style: none;
}

.data-item small {
  color: var(--grey-400);
}

.data-item span {
  margin: 0.25rem 0;
}

[class*='request-status-2'],
[class*='request-method-get'] {
  background: var(--green-400) !important;
  color: white;
}

[class*='request-status-4'],
[class*='request-method-put'],
[class*='request-method-patch'] {
  background: var(--yellow-400) !important;
  color: white;
}

[class*='request-status-5'],
[class*='request-method-delete'] {
  background: var(--red-500) !important;
  color: white;
}

.trace-list {
  padding: 1rem;
  border: 1px solid var(--grey-200);
  border-radius: 5px;
}

.trace-details-table {
  width: 100%;
  border: hidden 1px var(--border-color);
  margin-top: 1em;
  border-collapse: collapse;
}

.trace-details-table tr th {
  font-weight: var(--fw-semibold);
}

.trace-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.trace-list-filters {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-500);
}