<div class="page-header profiled-requests-header">
  <div class="">
    <h1>Profiled Requests</h1>
  </div>
  <div>
    <%= button_tag('Delete Selected',
                   disabled: params[:id].blank?,
                   data: {
                     controller: 'enable',
                     'enable-target': 'enable',
                     action: 'rmp:select:change@window->enable#change click->filters#post'
                   }) -%>
    <%= link_to(destroy_all_profiled_requests_url,
                method: :delete,
                data: { confirm: "This will delete all requests. Are you sure?" }) do %>
      <%= button_tag('Delete All', class: 'btn-red') %>
    <% end %>
  </div>
</div>
