<tr class="no-row">
  <td colspan="100%">
    <div class="placeholder">
      <%= inline_svg('logo_variant.svg', class: 'placeholder-image') %>
      <div class="placeholder-text">
        <h2>No Requests found!</h2>
        <p>Send some requests to your app or modify your filters</p>
      </div>
      <%= link_to('Clear Filters', profiled_requests_path, class: 'placeholder-link') %>
    </div>
  </td>
</tr>
