.flash {
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.flash-error {
  background: var(--red-500);
  color: white;
}

.flash-notice {
  background: var(--green-400);
  color: white;
}
