@use "components/profiled_request_table";

.search-field {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid var(--grey-400);
  border-radius: 5px;
}

.profiled-requests-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.clear-action button {
  background: var(--red-500);
  color: white;
  font-weight: 600;

  &:hover {
    background: var(--red-600);
  }
}
