button,
.button {
  display: inline-block;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;

  &:disabled {
    background: var(--grey-200);
    cursor: not-allowed;
  }
}

.btn-red {
  background: var(--red-500);
  color: white;
  font-weight: 600;
  outline: none;

  &:hover {
    background: var(--red-600);
  }
}

.btn-grey {
  background: var(--grey-200);

  &:hover {
    background: var(--grey-100);
  }
}

.btn-white {
  border: 1px solid var(--grey-200);
  background: white;

  &:hover {
    background: var(--grey-100);
  }
}

button:hover {
  box-shadow: 0 0.25rem 0.25rem 0 var(--grey-50);
}

button.none {
  padding: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    box-shadow: none;
  }
}
