.pagy-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.pagy-nav > .page.disabled,
.pagy-nav > .page.active,
.pagy-nav > .page > a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-right: none;
  background: white;
  color: var(--grey-900);
  cursor: pointer;
  text-decoration: none;
}

.pagy-nav > .page.prev a,
.pagy-nav > .page.prev.disabled {
  border-radius: 5px 0 0 5px;
}

.pagy-nav > .page.next a,
.pagy-nav > .page.next.disabled {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid var(--border-color);
}

.pagy-nav > .page.active {
  border-color: var(--red-500);
  background: var(--red-500);
  color: white;
  cursor: default;

  &:hover {
    background: var(--red-500);
  }
}

.pagy-nav > .page.disabled {
  color: var(--grey-500);
  cursor: default;

  &:hover {
    background: white;
  }
}

.pagy-nav > .page.disabled:hover,
.pagy-nav > .page.active:hover,
.pagy-nav > .page > a:hover {
  background: var(--grey-100);
}
